.container-body {
    height: 500px;
    width: 300px;
    background-color: #82828277;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(55, 58, 58, 0.2), 0 6px 20px 0 rgb(0, 255, 0);

}

/* .container-body-button {

    background-color: lightgreen;
    cursor: pointer;

} */

.container-emoji {
    background-color: #828282;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    /* box-shadow: 0 4px 8px 0 rgba(55, 58, 58, 0.2), 0 6px 20px 0 rgb(0, 255, 0); */

}

.title {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}